.table-toolbar {
  border: 1px solid #9d9d9d29;
  height: 75px;
  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
  height: 90px;
  border-bottom: none;

}

.search-button {
  display: flex;
  margin-right: 20px;
}

.legend-title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 22px;
  margin-left: 17px;
}

.toolbar-button {
  display: flex;
  align-items: center;
  position: relative;
}

#add-button {
  height: 49px;
  width: 150px;
}


@media screen and (max-width: 1103px) {
  div.search {
    display: none;
  }
}

@media screen and (max-width: 699px) {
  div.sort {
    display: none;
  }
}

@media screen and (max-width: 515px) {
  div.sort-search-button {
    display: none;
  }
}
