.MuiModal-root {
  top: 80px !important;
  left: 310px !important;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  right: 34px !important;
  bottom: 24px !important;
  top: 102px !important;
  left: 340px !important;
}
