.user-name {
  font-weight: bold !important;
  font-size: 16px !important;
}

.user-list-header {
  font-size: 16px;
  font-weight: bolder !important;
  /* color: #67686c; */
}

.groupsvalue {
  color: #2d2d2d;
  padding: 4px 6px;
  margin: 0 6px 6px 0;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 6px;
  font-size: 12px !important;
  display: flex;
  flex-wrap: wrap;
}

.groups {
  display: flex;
  flex-wrap: wrap;
}

.options {
  display: flex;
}

.option {
  padding-right: 15px;
  color: #a4a4a4;
  font-size: 14px !important;
}
