.groups {
  display: flex;
  flex-wrap: wrap;
}

.options {
  display: flex;
}

.option {
  padding-right: 15px;
  color: #a4a4a4;
  font-size: 14px !important;
}

#chip {
  background-color: #edf6ff;
  color: #01579b;
  margin: 5px 10px 5px 0px;
  font-size: 15px;
}

.fullname {
  font-size: 16px;
  margin-left: 30px;
}
