.table-component {
  height: 100%;
}

.table-list-header {
  font-size: 16px;
  font-weight: bolder !important;
  height: 60px !important;
}

.edit:hover {
  filter: invert(33%) sepia(91%) saturate(3281%) hue-rotate(213deg) brightness(99%) contrast(87%);
}

.delete:hover {
  filter: invert(15%) sepia(97%) saturate(4902%) hue-rotate(349deg) brightness(83%) contrast(96%);
}

.disabled-styles:hover {
  cursor: not-allowed;
  color: #67686cbf !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  border: none !important;
  min-height: 50px !important;
}

.edit-line{
  padding-top: 15px;
}

.edit-line:hover{
  filter: invert(33%) sepia(91%) saturate(3281%) hue-rotate(213deg) brightness(99%) contrast(87%);
}

.MuiDataGrid-root {
  border-top: 1px solid #9d9d9d29 !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
}

.MuiDataGrid-columnHeaders {
  border-bottom: 1px solid #9d9d9d29 !important;
  color: #67686c;
}

.MuiDataGrid-footerContainer {
  border-top: 1px solid #9d9d9d29 !important;
  color: #67686c8c !important;
}

.MuiDataGrid-virtualScroller {
  margin-top: 57px !important;
}

.MuiDataGrid-columnHeaders {
  min-height: 49px !important;
  background-color: #f4f8fb94;
  border-radius: 0% !important;
}

.MuiDataGrid-columnHeaderTitle {
  font-size: 16px;
  color: #0A0D14;
  font-family: 'Manrope';
  font-weight: 600 !important;
}

.MuiDataGrid-row {
  min-height: 70px !important;
  border-bottom: 1px solid #D9D9D9 !important;
}

.MuiSvgIcon-root-MuiSvgIcon {
  color: #039be5 !important;
}

.MuiCheckbox-root {
  color: #67686c8c !important;
}

.MuiDataGrid-cellContent {
  font-size: 16px;
  margin-left: 35px;
}

.MuiDataGrid-cell:focus {
  outline: none !important;
}

.css-1i9pg5b-MuiDataGrid-root .MuiDataGrid-iconSeparator{
  display: none;
}
