.user-options {
  display: flex;
  align-items: center;
  font-size: larger;
}

.table-listing-items {
  height: 650px;
  width: 100%;
}

.table-component {
  margin: 10px;
}

.table-tool-bar {
  width: 100%;
}