#chip {
  margin: 5px 10px 5px 0px;
  font-size: 16px;
    background: #EAF1FD;
    border-radius: 6px;
    font-family: 'Manrope';
}

#count-chip {
  margin: 5px 10px 5px 0px;
  font-size: 16px;
    background: #2F6FED;
    color: white;
    border-radius: 6px;
    font-family: 'Manrope';
}

#cancel-icon {
  width: 20px;
  color: #67686cbf;
  margin-top: 8px;
  color: #67686c94;
}

#cancel-icon:hover {
  cursor: pointer;
}
